*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt
seventh-packet-byte-count.png

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

*.egg-info
*.pb.h
*.pb.cc
*_pb2.py
*_pb3.py
waf3*/*
venv/
.vscode/
prisma/examples/*/results/*
# prisma/examples/*/optimal_solution/*
prisma/examples/*/others
prisma/examples/*/plots
prisma/examples/*/pre_trained_models/*

prisma/replay_buffer_samples/
prisma/figures
*.img
*.def
*.sif
prisma/*.png
prisma/*.json
prisma/profiling results
.test_results/*
prisma/examples/4n_overlay_full_mesh_abilene/results/*
