*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt
seventh-packet-byte-count.png

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

build-dir/
build/
/.cproject
/.project

*.egg-info
*.pb.h
*.pb.cc
*_pb2.py
*_pb3.py
prisma/examples/*/results/*
prisma/examples/*/saved_models/*
prisma/examples/*/test_/*
prisma/examples/*/test/*
prisma/examples/*/pre_trained_models/*
prisma/scripts/figures/*
prisma/scripts/logs/*
prisma/logs/*

ns3-gym/*

waf3*/*
venv/
.vscode/

tok.txt
prisma/lock_files/*
prisma/savings
prisma/run_script.sh
OAR*
prisma/prisma_latest.sif
prisma/res.txt
prisma/temp*
prisma/examples/abilene/saved_models/
prisma/examples/abilene/tests_/
prisma/tests_plots*/
prisma/scripts/*.png
